*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    /* background-image: linear-gradient(rgb(180, 111, 14), rgb(77, 50, 4)); */
    background-image: linear-gradient(black, rgb(70, 68, 68));
}

.grid{
    height: 100vh;
    overflow: hidden;
}

.container{
    position: relative;
    height: 90vh;
}

.container img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: 1s;
    border-radius: 30px;
    border: 1px solid black;
}

.bullets{
    text-align: center;
    height: 10vh;
}

.bullet-single{
    margin: 0 8px;
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #ccc;
}

.active-bullet{
    background-color: #333;
}

@media (width > 640px){
    .container img{    
        position: absolute;
        left: -10%;
        right: -10%;
        top: 2.5%;
        margin: auto;
        width: 50%;
        border: 4px solid black;
    } 
}

@media screen and (max-width: 480px) {
    .container{
        height: 60vh;
    }

    .bullets{
        height: 40vh;
    }
}

/*@media screen and (max-width: 380px) {
    .container{
        height: 48vh;
    }

    .bullets{
        height: 52vh;
    }
}*/
